* {
  margin: 0;
  padding: 0;
}

header {
  padding: 5px 20px;
  text-align: right;
}
header ul,
header ul li,
header figure,
header button,
footer ul,
footer ul li  {
  display: inline-block;
  vertical-align: middle;
}

header a,
footer a {
  color: #444;
  font-family: arial;
  font-size: 13px;
  margin: 0 8px;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header figure img {
  margin: 15px 10px 10px 10px;
  width: 25px;
}

header button {
  background-color: #4285F4;
  border: 1px solid #4285F4;
  border-radius: 2px;
  color: white;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 12px;
}

main {
  text-align: center;
}

main figure {
  margin-top: 80px;
  text-align: center;
  width: 100%;
}
.doodle {
  width: 500px;
}
.container {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: inline-block;
  padding: 10px 0;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 500px;
}
input {
  border: 0;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  width: 85%
}
input:focus {
  outline: none;
}

.container button {
  background-color: transparent;
  border: none;
  height: 15px;
  display: inline-block;
  position: relative;
  width: 10%;
}

.container button:focus {
  outline: none;
}

button img {
  position: absolute;
  top: -4px;
  width: 27px;
}
#dropdown {
  background-color: white;
  border: 1px solid #ebebeb;
  border-top: none;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
  margin: 0 auto;
  width: 500px;
}
.no-bottom-shadow {
  border-bottom: 0;
  box-shadow: none;
}

#dropdown li {
  color: #52188C;
  height: 22px;
  list-style: none;
  font: 16px arial,sans-serif;
}

#dropdown li:hover {
  background-color: #eee;
}

#dropdown li p {
  font-weight: bold;
  float: left;
  padding-left: 10px;
  text-align: left;
  width: 80%;
}
#dropdown li .delated {
  color: gray;
  font-weight: normal;
}
.removeButton{
  background-color: transparent;
  border: 0;
  color: #3366CC;
  cursor: pointer;
  font-weight: bold;
}
.removeButton:hover {
  text-decoration: underline;
}
.removeButton:focus {
  outline: none;
}
.form{
  border: 1px solid #ebebeb;
  height: 44px;
}
.container button a {
  text-decoration: none;
}
.buttons {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

.buttons button {
  background-color: #F3F3F3;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  color: gray;
  padding: 10px 15px;
  margin: 0 4px;
}

.buttons button:hover {
  border: 1px solid #bbb;
  color: #555;
  cursor: pointer;
}
footer {
  background-color: #F2F2F2;
  border-top: 1px solid #F1F1F1;
  bottom: 0;
  height: 20px;
  padding: 10px;
  position: absolute;
  width: 100%;
}
footer ul:first-child {
  float: left;
}
footer ul:last-child {
  padding-right: 20px;
  float: right;
}
